<header>
  <mat-toolbar color="primary">
    <h1>
      <a routerLink="/rooms">ngChat</a>
    </h1>

    <span class="spacer"></span>

    <ul>
      <li>
        <a mat-button routerLink="/auth/login" routerLinkActive="mat-flat-button" >
          Login
        </a>
      </li>
      <li>
        <a mat-button routerLink="/auth/signup" routerLinkActive="mat-flat-button" >
          Signup
        </a>
      </li>
      <li>
        <a mat-button routerLink="/rooms/create" routerLinkActive="mat-flat-button" >
          Create Room
        </a>
      </li>
    </ul>
  </mat-toolbar>
</header>
