<header>
  <mat-toolbar color="primary">
    <h1>
      <a routerLink="/rooms">ngChat</a>
    </h1>

    <ul>
      <li *ngIf="!isAuthenticated">
        <a
          mat-button
          routerLink="/auth/login"
          routerLinkActive="mat-flat-button"
        >
          Login
        </a>
      </li>
      <li *ngIf="!isAuthenticated">
        <a
          mat-button
          routerLink="/auth/signup"
          routerLinkActive="mat-flat-button"
        >
          Signup
        </a>
      </li>
      <li *ngIf="isAuthenticated">
        <a
          mat-button
          routerLink="/rooms/create"
          routerLinkActive="mat-flat-button"
        >
          Create Room
        </a>
      </li>
      <li *ngIf="isAuthenticated">
        <button mat-icon-button [matMenuTriggerFor]="menu" id="accountButton">
          <img [src]="avatar" alt="Avatar">
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/profile">
            <mat-icon>account_circle</mat-icon>
            <span>Profile</span>
          </button>

          <button mat-menu-item routerLink="/settings">
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </button>

          <button mat-menu-item (click)="onLogout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </li>
    </ul>
  </mat-toolbar>
</header>
