<div id="chat-container">
  <mat-card id="users">
    <mat-card-title>Users</mat-card-title>
    <mat-card-content>
      <mat-nav-list>
        <cdk-virtual-scroll-viewport [itemSize]="48">
          <a mat-list-item href="#" *cdkVirtualFor="let user of users">
            {{ user.user.username }}
          </a>
        </cdk-virtual-scroll-viewport>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>

  <cdk-virtual-scroll-viewport [itemSize]="50" id="messages" #messageViewport>
    <mat-card *cdkVirtualFor="let message of messages">
      <mat-card-header>
        <mat-card-title>
          <div *ngIf="message.sender.username === 'server'; else senderElse">
            {{ message.sender.username | uppercase }}
          </div>

          <ng-template #senderElse>
            {{ message.sender.username }}
          </ng-template>
        </mat-card-title>

        <mat-card-subtitle>
          {{ message.createdAt | date : 'shortTime' }}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        {{ message.message }}
      </mat-card-content>
    </mat-card>
  </cdk-virtual-scroll-viewport>

  <mat-card id="compose">
    <form
      autocomplete="off"
      spellcheck="true"
      [formGroup]="form"
      (submit)="onSendMessage()"
    >
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Message"
          formControlName="message"
          #messageInput
        />
      </mat-form-field>
      <button mat-icon-button color="accent" type="submit">
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </mat-card>
</div>
