#chat-container {
  display: grid;
  grid-template-areas:
    "users messages"
    "users compose";
  grid-template-rows: 1fr min-content;
  grid-template-columns: 10rem 1fr;
  height: 100%;
}

#users {
  grid-area: users;
}

#messages {
  grid-area: messages;
}

#compose {
  grid-area: compose;
}
