#container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 100%;
  grid-template-rows: min-content auto min-content;
  height: 100%;
}

app-header {
  grid-area: header;
}

main {
  grid-area: main;
  padding: 1rem;
}

app-footer {
  grid-area: footer;
}
