form > * {
  display: block;
}

mat-card {
  max-width: 768px;
  margin: 0 auto;
}

mat-slider {
  margin-top: 1rem;
}

.margin-bottom {
  margin-bottom: 1rem;
}

#buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

  #spinner-div {
    display: flex;

    button {
      margin-right: 1rem;
    }
  }
}
