<mat-spinner *ngIf="isLoading"></mat-spinner>

<div id="container">
  <div id="user">
    <mat-card id="avatar">
      <div id="center">
        <mat-spinner [diameter]="100" *ngIf="isLoadingAvatar"></mat-spinner>
        <img
          src=""
          alt="Avatar"
          [ngClass]="{ hidden: isLoadingAvatar }"
          #avatar
        />
      </div>
      <mat-divider></mat-divider>
      <p>{{ username }}</p>
    </mat-card>

    <mat-card>
      <!-- if does not own any rooms -->
      <p *ngIf="rooms && rooms.length < 1">Not the owner of any rooms</p>
      <!-- else -->
      <div *ngIf="rooms && rooms.length >= 1">
        <p>Owner of these rooms:</p>
        <ul>
          <li *ngFor="let room of rooms">{{ room.name }}</li>
        </ul>
      </div>
    </mat-card>
  </div>

  <mat-card id="bio">
    <p *ngIf="bio">{{ bio }}</p>
    <p *ngIf="!bio">This user has not created a bio yet.</p>
  </mat-card>
</div>
