<mat-spinner *ngIf="isLoading"></mat-spinner>

<div id="container">
  <div id="user">
    <mat-card id="avatar">
      <img
        src="https://material.io/resources/icons/static/ic_icons_192px_light.svg"
        alt="Avatar"
      />
      <mat-divider></mat-divider>
      <p>TEST Username</p>
    </mat-card>

    <mat-card>
      <button mat-flat-button color="accent">Send Message</button>

      <!-- if does not own any rooms -->
      <p>Not the owner of any rooms</p>
      <!-- else -->
      <p>Owner of these rooms:</p>
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
      </ul>
    </mat-card>
  </div>

  <mat-card id="bio">
    <p>
      first<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />
      1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />
      1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />
      1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />1<br />last
    </p>
  </mat-card>
</div>
