.no-rooms {
  text-align: center;

  a {
    color: black;
  }
}

mat-accordion {
  mat-icon {
    margin-right: 16px;
    font-size: 16px;
    width: 16px;
    height: 16px;
  }
}

mat-panel-title {
  flex-basis: 0;
}

mat-panel-description {
  flex-grow: 3;
}
