.no-rooms {
  text-align: center;

  a {
    color: black;
  }
}

mat-spinner {
  margin: auto;
  margin-top: 10%;
}

mat-accordion {
  mat-panel-title {
    flex-basis: auto;
    white-space: nowrap;
    overflow: hidden;
  }

  mat-panel-description {
    justify-content: flex-end;

    span {
      width: 4rem;
      text-align: right;
    }

    mat-icon {
      font-size: 16px;
      width: 16px;
      height: 16px;
    }
  }

  a {
    margin-left: .5rem;
  }
}

#action-login-msg {
  margin-right: 0.5rem;
}

.underline {
  text-decoration: underline;

  &:hover {
    cursor: pointer;
  }
}
