<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-form-field *ngIf="!isLoading && rooms.length > 0">
  <input
    matInput
    type="search"
    placeholder="Search Rooms"
    (keyup)="onSearch()"
    #inputEl
  />
  <button mat-icon-button matSuffix *ngIf="search" (click)="onClear()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<mat-accordion *ngIf="rooms.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let room of rooms">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ room.name }}
      </mat-panel-title>

      <mat-panel-description>
        <mat-icon *ngIf="room.isLocked">lock_outline</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    {{ room.description }}

    <mat-action-row>
      <!-- TODO only if owner and auth -->
      <a mat-flat-button color="accent" [routerLink]="['edit', room._id]">Configure</a>
      <button mat-flat-button color="primary">Join</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<p class="no-rooms" *ngIf="!isLoading && rooms.length <= 0">
  There are no rooms. Would you like to
  <a routerLink="/rooms/create" routerLinkActive="router-link-active">
    create one</a
  >?
</p>
