<mat-form-field *ngIf="rooms.length > 0 || search">
  <input
    matInput
    type="search"
    placeholder="Search Rooms"
    autocomplete="off"
    (keyup)="onSearch()"
    #inputEl
  />
  <button mat-icon-button matSuffix *ngIf="search" (click)="onClear()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-accordion *ngIf="search || (rooms.length > 0 && !isLoading)">
  <mat-expansion-panel *ngFor="let room of rooms" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ room.name }}
      </mat-panel-title>

      <mat-panel-description>
        <mat-icon title="This room requires a password" *ngIf="room.isLocked"
          >lock_outline</mat-icon
        >
        <span
          title="Number of users currently in this room, out of its maximum capacity"
          *ngIf="room.isLimited"
          >{{ room.users.length }}/{{ room.capacity }}</span
        >
        <span
          title="Number of users currently in this room"
          *ngIf="!room.isLimited"
          >{{ room.users.length }}</span
        >
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- TODO populate owner -->
    <p>Owner: {{ room.owner }}</p>
    <p>
      Description:
      {{ room.description ? room.description : "No description provided" }}
    </p>

    <mat-action-row *ngIf="isAuthenticated">
      <a
        mat-flat-button
        color="accent"
        [routerLink]="['edit', room._id]"
        *ngIf="room.owner === userId"
        >Configure</a
      >
      <a mat-flat-button color="primary" [routerLink]="['chat', room._id]"
        >Join</a
      >
    </mat-action-row>

    <mat-action-row *ngIf="!isAuthenticated">
      <span id="action-login-msg"
        >Please <span class="underline" routerLink="/auth/login">login</span> to
        join rooms</span
      >
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<!-- TODO check if this still works when there are no rooms -->
<p class="no-rooms" *ngIf="!isLoading && !search && rooms.length <= 0">
  There are no rooms. Would you like to
  <a routerLink="/rooms/create" routerLinkActive="router-link-active">
    create one</a
  >?
</p>
